:root {
  --display-font: "Josefin Sans", sans-serif;
  --text-font: "Inter", sans-serif;

  --color-primary: #000000;
  --color-secondary: #daa520;

  --color-text-dark: #191919;
  --color-text-light: #e6e6e6;

  --shadow-dark: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  --shadow-light: 0 1rem 4rem rgba(0, 0, 0, 0.1);
}
